div {
  background-color: red;
  width: 100px;
  height: 100px;
}

p {
  background-color: blue;
  width: 50%;
  height: 50%;
}

p:first-child {
  margin-bottom: 0;
  margin-left: 50%;
}

p:last-child {
  margin: 0;
}