/*colors
#000
orange #ff9501;
grey #a6a6a6
white #fdfdfd
#363636
*/
* {
  box-sizing: border-box;
}

.calc {
  width: 300px;
  height: 500px;
  margin: 50px auto;
  border-radius: 15px;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-shadow: 4px 4px 4px #585858;
}

.screen {
  height: 20%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20px;
}

.screen p {
  font-size: 3rem;
  margin: 0;
}

.btn {
  width: 60px;
  height: 60px;
  background-color: #363636;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.btn.zero {
  width: 127px;
  border-radius: 35px;
}

.btn:hover {
  filter: brightness(130%);
}

.btn:active {
  filter: brightness(80%);
}

.btn.bg-grey {
  background-color: #a8a8a8;
}

.btn.bg-orange {
  background-color: #fa9406;
}

.buttons {
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}