.flex-container {
  display: flex;
  width: 500px;
  box-sizing: content-box;

}

.flex-item {
  box-sizing: content-box;
  flex-basis: 101px;
}

.flex-item:nth-child(2) {
  flex-shrink: 2;
}

.flex-item:nth-child(3) {
  flex-grow: 1;
}

.flex-item:nth-child(4) {
  flex-grow: 1;
  flex-shrink: 2;
}